<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
  <title>Developers</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>

  <h2 id="devH2">About the Developers</h2>
  <div id="devs">
    <div id="mike">
      <article>
        <p>My name is Mike Greene. I'm originally from the east coast, (NJ, bb!) I moved out here to the Seattle area around 2012 to return to college after a 9 year career in the U.S. Army. I decided to attend CodeFellows to break into the tech industry and make a positive change to my career trajectory. I now live in Everett with my girlfriend and our two dogs.</p>
        <img src="mike.jpg" alt="picture of Mike G">
      </article>
    </div>
    <div id="henry">
      <article>
        <img src="henry.jpg" alt="picture of Henry F">
        <p>
          Bachelor of Arts in Business Leadership from University of Puget Sound
          Wilderness Guide -> Environmental Educator -> Snowboard Instructor
          Greasy car salesman w/ less grease
          Student at CodeFellows
        </p>
      </article>
    </div>
    <div id="karlo">
      <article>
        <p>
          Navy Veteran - Served as the Main Propulsion Officer for Guided Missile Destroyer USS Stethem
          Student at Code Fellows
          Bachelors in Mathematics from Jacksonville University
          Problem solving and troubleshooting
        </p>
        <img src="karlo.jpg" alt="picture of Karlo M">
      </article>
    </div>
    <div id="kyle">
      <article>
        <img src="profpic.jpg" alt="picture of Kyle A">
        <p>
          My name is Kyle Atkinson, I was in the Navy for four years as a boatswain's mate. I separated honorably and
          transitioned into the commercial diving Industry. Diving started slowing due to COVID-19 so I needed a job
          that was steady but also challenged me mentally. Software engineering sparked that interest!
        </p>
      </article>
    </div>
  </div>
</body>

</html>