<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <div id="logo">
  <img src="image0.png" alt="logo of lexicapp" width="450px">
  </div>
  <br>
  
  <form id="search" action="/searchWord" method="POST">
    <fieldset>
      <input type="text" name="search" placeholder="Fill me with your words">
      <button type="submit">Please press me</button>
    </fieldset>
  </form>
</body>
</html>