<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/searchWord" method="POST">
    <fieldset>
      <legend>Enter Word Here</legend>
      <span>Search</span>
      <input type="text" name="search" placeholder="enter word here">
      <button type="submit">Search</button>
    </fieldset>
  </form>
</body>
</html>