<nav id="navbar">
  <button class="dev"><a href="../pages/devs">Developers</a></button>
  <ul>
    <li><button><a href="/">Home</a></button></li>
    <li><button><a href="collection">Flashcards</a></button></li>
    <li><button><a href="?">Quiz</a></button></li>
  </ul>
</nav>